.about-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-menu li {
    list-style: none;
    margin-left: 25px;
}

.about-menu li a {
    text-decoration: none;
}

.about-menu h4 {
    margin: 0;
}

.heading {
    color: red;
    text-align: center;
    margin-top: 20px;
}