body {
    background-color: whitesmoke;
    text-align: center;
}

.purple {
    color: purple;
}

.input {
    padding: 4px 10px;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}